<ng-template #icon>
  <Icon type="ellipsis"></Icon>
</ng-template>

<ng-template #sidebar>
  <List>
    <ListItem [multipleLine]="true" [thumb]="'https://zos.alipayobjects.com/rmsportal/eOZidTabPoEbPeU.png'">
      Category
    </ListItem>
    <ListItem *ngFor="let num of this.nums; let i = index"
      [thumb]="'https://zos.alipayobjects.com/rmsportal/eOZidTabPoEbPeU.png'">
      Category{{ i + 1 }}
    </ListItem>
  </List>
</ng-template>

<div class="user_head_wrap">
  <!-- <div class="settings"><span class="fa fa-cog"><i class="iconfont">&#xe78e;</i></span> </div> -->
  <div class="user_avatar">
    <img [src]="avatar" class="headicon">
    <p>{{userName}}</p>
  </div>
  <div class="user_diary_stats">
    <div class="weui-row weui-no-gutter">
      <div class="weui-col-33"><strong>{{totalInfo.diaryCount}}</strong> <span>篇</span>
        <p>记录日记</p>
      </div>
      <div class="weui-col-33"><strong>{{totalInfo.charCount}}</strong> <span>个</span>
        <p>写下文字</p>
      </div>
      <div class="weui-col-33"><strong>{{totalInfo.tagsCount}}</strong> <span>个</span>
        <p>日记标签</p>
      </div>
    </div>

  </div>

</div>
<List [className]="'my-list'" [renderHeader]="renderHeader">
</List>
<List [className]="'my-list'" [renderHeader]="renderHeader1">
  <ListItem [arrow]="'horizontal'" [thumb]='modify' multipleLine (onClick)="onClick()"><span class="fontIn">修改资料</span>
  </ListItem>
  <ListItem [arrow]="'horizontal'" [thumb]='feedback' multipleLine (onClick)="onClick()"><span
      class="fontIn">反馈信息</span></ListItem>
  <ListItem [arrow]="'horizontal'" [thumb]='about' multipleLine (onClick)="showShareActionSheet()"><span
      class="fontIn">关于</span></ListItem>
  <ListItem [arrow]="'horizontal'" [thumb]='exit' multipleLine (onClick)="onClick()"><span class="fontIn">退出登录</span>
  </ListItem>

  <ng-template #feedback>
    <i class="iconfont">&#xe7de;</i>
  </ng-template>
  <ng-template #about>
    <i class="iconfont">&#xe77e;</i>
  </ng-template>
  <ng-template #modify>
    <i class="iconfont">&#xe791;</i>
  </ng-template>
  <ng-template #exit>
    <i class="iconfont">&#xe77d;</i>
  </ng-template>


