<div style="padding: 15px 0">
        <app-logo></app-logo>
        <div class="am-demo-page">
            <div class="am-list" style="margin:0;">
              <div class="am-list-header"></div>
              <div class="am-list-body">
                <InputItem
                  [type]="'email'"
                  [placeholder]="'请输入邮箱'"
                  (onChange)="inputChange($event)"
                  [content]="'账号'"
                >
                </InputItem>
                <InputItem [type]="'password'" [placeholder]="'请设置密码'" [content]="'密码'"></InputItem>
              </div>
            </div>
        </div>
        <WingBlank class="btnReg">
        <div Button [type]="'primary'">注册</div>
        </WingBlank>
        <WhiteSpace></WhiteSpace>
        <WingBlank class="goLogin">
            <a [routerLink]="['/login']" routerLinkActive="router-link-active" >没有账号,请注册</a>
        </WingBlank>
     
    </div>