<div style="padding: 15px 0">
  <app-logo></app-logo>
  <div class="am-list-header"></div>
  <form [formGroup]="registerForm">
    <List [renderFooter]="renderFooter">
      <InputItem [placeholder]="'请输入邮箱'" [error]="isError" [focus]="onFocus" [value]="formData.username" [clear]="true"
        formControlName="username" id="username" (onErrorClick)="inputErrorClick($event)"
        (onChange)="inputChange($event)" [content]="'账号'">
      </InputItem>
      <InputItem id="password" formControlName="password" [placeholder]="'请输入密码'" [type]="'password'"
        [(ngModel)]="formData.password" [value]="formData.password" [content]="'密码'" [clear]="true">
      </InputItem>
      <InputItem id="password" formControlName="password" [placeholder]="'请再次输入密码'" [type]="'password'"
        [(ngModel)]="formData.password" [value]="formData.password" [content]="'确认密码'" [clear]="true">
      </InputItem>
    </List>
    <WingBlank class="btnReg">
      <a Button [type]="'primary'" [inline]="false" (onClick)="onSubmit()">
        注册
      </a>
    </WingBlank>
  </form>
  <WhiteSpace></WhiteSpace>
  <WingBlank class="goLogin">
    <a [routerLink]="['/login']" routerLinkActive="router-link-active">已有账号,请登录</a>
  </WingBlank>

</div>