<Navbar [icon]="icon" [rightContent]="rightContent" mode="light" style="background: #f7f7fa;"
  (onLeftClick)="onLeftClick()">
  <span class="wTitle">反馈信息</span>
</Navbar>
<ng-template #icon>
  <Icon [type]="'left'" class="left"></Icon>
</ng-template>

<ng-template #rightContent>
  <div Button class="btn" [inline]="true" [size]="'small'" (onClick)="release()">发送</div>
</ng-template>
<div class="diary_post" style="font-size:14px;">
  <div class="cells_title">

    <div class="am-demo-page">
      <div class="am-list" style="margin:0;">
        <div class="am-list" style="margin:0;">
          <div class="am-list-body" >
            <TextareaItem  [rows]="14" [count]="99999999" [placeholder]="'请在此处写下反馈内容'" [(ngModel)]="adContent"></TextareaItem>
          </div>
        </div>
      </div>
    </div>
    
  </div>
