/* You can add global styles to this file, and also import other style files */
html,body{
    background-color: #fff;
    height: 100%;
}
.am-list-item .am-input-label.am-input-label-5{
    font-size: 14px ;
    color:#888;
}
.am-list-item .am-input-control input{
    font-size: 14px;
}
.am-textarea-control textarea{
    font-size: 14px;
}